repos:
-   repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
    -   id: remove-crlf
    -   id: forbid-tabs
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-merge-conflict
    -   id: check-yaml
    -   id: debug-statements
    -   id: trailing-whitespace
        args:
        - --no-markdown-linebreak-ext
-   repo: https://github.com/pylint-dev/pylint
    rev: v4.0.4
    hooks:
    -   id: pylint
        args:
        - --rcfile=.pylintrc
        - --reports=no
