[MESSAGES CONTROL]
# no-member & no-name-in-module are disabled because they currently fail with Python 3.11:
disable = fixme, import-error, invalid-name, missing-docstring, multiple-imports, no-member, no-name-in-module, too-few-public-methods, ungrouped-imports, unnecessary-lambda-assignment, wrong-import-order

[FORMAT]
max-line-length = 200
